<div class="content-wrapper">


    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y" v-if="state==0">
        <!-- Invoice List Widget -->

        <div class="card mb-6" v-if="Statistics!=0">
            <div class="card-widget-separator-wrapper">
                <div class="card-body card-widget-separator">
                    <div class="row gy-4 gy-sm-1">
                        <div class="col-sm-6 col-lg-3">
                            <div class="d-flex justify-content-between align-items-center card-widget-1 border-end pb-4 pb-sm-0">
                                <div>
                                    <h4 class="mb-0">{{Statistics.count}}</h4>
                                    <p class="mb-0">{{ScreenTitleSingle}}</p>
                                </div>
                                <div class="avatar me-sm-6">
                                    <span class="avatar-initial rounded bg-label-secondary text-heading">
                                        <i class="ti ti-chart-pie ti-26px"></i>
                                    </span>
                                </div>
                            </div>
                            <hr class="d-none d-sm-block d-lg-none me-6" />
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="d-flex justify-content-between align-items-center card-widget-2 border-end pb-4 pb-sm-0">
                                <div>
                                    <h4 class="mb-0">{{Statistics.admin}}</h4>
                                    <p class="mb-0">Admin</p>
                                </div>
                                <div class="avatar me-lg-6">
                                    <span class="avatar-initial rounded bg-label-secondary text-heading">
                                        <i class="ti ti-radioactive ti-26px"></i>
                                    </span>
                                </div>
                            </div>
                            <hr class="d-none d-sm-block d-lg-none" />
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="d-flex justify-content-between align-items-center border-end pb-4 pb-sm-0 card-widget-3">
                                <div>
                                    <h4 class="mb-0">{{Statistics.user}}</h4>
                                    <p class="mb-0">User</p>
                                </div>
                                <div class="avatar me-sm-6">
                                    <span class="avatar-initial rounded bg-label-secondary text-heading">
                                        <i class="ti ti-radioactive-off ti-26px"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h4 class="mb-0">{{Statistics.supplier}}</h4>
                                    <p class="mb-0">موزع</p>
                                </div>
                                <div class="avatar">
                                    <span class="avatar-initial rounded bg-label-secondary text-heading">
                                        <i class="ti ti-trash ti-26px"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Invoice List Table -->
        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper"
                     class="dataTables_wrapper dt-bootstrap5 no-footer">


                    <div class="card-header border-bottom">
                        <h5 class="card-title mb-0">{{ScreenTitle}}</h5>
                        <div class="d-flex justify-content-between align-items-center row pt-4 gap-4 gap-md-0">
                            <div class="col-md-4 user_role"></div>
                            <div class="col-md-4 user_plan"></div>
                            <div class="col-md-4 user_status"></div>
                        </div>
                    </div>

                    <div class="card-header py-0 d-flex flex-column flex-md-row align-items-center">
                        <div>
                            <div id="DataTables_Table_0_filter"
                                 class="dataTables_filter ms-n3 mb-0 mb-md-6">
                                <label>
                                    <input type="search" class="form-control"
                                           @input="GetInfo()"
                                           v-model="Search"
                                           placeholder="فلترة البيانات "
                                           aria-controls="DataTables_Table_0">
                                </label>
                            </div>

                        </div>
                        <div class="d-flex align-items-center justify-content-md-end gap-2 justify-content-center">

                            <div class="dt-action-buttons pt-0">
                                <div class="dt-buttons btn-group flex-wrap">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                @click.prevent="ClearForm(ruleForm)"
                                                data-bs-target="#AddDialog">
                                            <i class="ti ti-plus ti-xs me-md-2"></i>
                                            <span class="d-md-inline-block d-none">إضافة {{ScreenTitleSingle}} </span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="dataTables_length ms-n2" id="DataTables_Table_0_length">
                                <label>
                                    <select name="DataTables_Table_0_length"
                                            aria-controls="DataTables_Table_0"
                                            @change="GetInfo()"
                                            v-model="pageSize"
                                            class="form-select">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="400">400</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>



                    <table class="invoice-list-table table border-top dataTable no-footer dtr-column"
                           id="DataTables_Table_0"
                           aria-describedby="DataTables_Table_0_info"
                           style="width: 1232px;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>إسم {{ScreenTitleSingleAl}}</th>
                                <th>إسم الدخول</th>
                                <th>البريد الإلكتروني </th>
                                <th>نوع المستخدم </th>
                                <th> الحالة </th>
                                <th>أخر   دخول</th>
                                <th class="cell-fit">الإعدادات</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr class="odd" v-if="Info==0">
                                <td valign="top" colspan="8" class="dataTables_empty">لا توجد بيانات في الوقت الحالي ......</td>
                            </tr>

                            <tr class="odd" v-for="item,index in Info" v-if="Info!=0">
                                <td>{{index+1}}</td>
                                <td>
                                    <div class="d-flex justify-content-start align-items-center">
                                        <div class="avatar-wrapper">
                                            <div class="avatar avatar-sm me-3">
                                                <img :src="item.image" alt="Avatar" class="rounded-circle" v-if="item.image">
                                                <img :src="CoverPath" alt="Avatar" class="rounded-circle" v-if="!item.image">
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <a href="#" class="text-heading text-truncate">
                                                <span class="fw-medium">{{item.name}}</span>
                                                <br />
                                                <span class="fw-medium">{{item.phone}}</span>
                                            </a>
                                            <!--<small class="text-truncate">المرحلة التعليمية </small>-->
                                        </div>
                                    </div>
                                </td>
                                <td>{{item.loginName}} </td>
                                <td>{{item.email}} </td>
                                <td>
                                    <span v-if="item.userType==1" class="text-truncate d-flex align-items-center text-heading">
                                        <i class="ti ti-crown  ti-md text-danger me-2"></i>
                                        Admin
                                    </span>
                                    <span v-if="item.userType==2"
                                          class="text-truncate d-flex align-items-center text-heading">
                                        <i class="ti ti-user ti-md text-primary me-2"></i>
                                        User
                                    </span>
                                    <span v-if="item.userType==3"
                                          class="text-truncate d-flex align-items-center text-heading">
                                        <i class="ti ti-device-desktop ti-md text-dark me-2"></i>
                                        Suppliers
                                    </span>
                                </td>
                                <td v-if="item.status==1"><span class="badge bg-label-success me-1">Active</span></td>
                                <td v-if="item.status==2"><span class="badge bg-label-danger me-1">Not Active</span></td>
                                <td dir="ltr">{{momentTime(item.lastLoginOn)}}</td>
                                <!--<td>{{momentTime(item.createdOn)}}</td>
                                <td>{{item.createdBy}} </td>-->
                                <td>
                                    <div class="d-flex align-items-center">

                                        <a href="javascript:;"
                                           @click.prevent="ViewInfo(item)"
                                           type="button"
                                           class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill">
                                            <i class="ti ti-info-circle text-body ti-md"></i>
                                        </a>

                                        <div class="d-inline-block">
                                            <a href="javascript:;"
                                               class="btn btn-sm btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow"
                                               data-bs-toggle="dropdown"
                                               aria-expanded="false">
                                                <i class="ti ti-dots-vertical ti-md"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end m-0" style="">
                                                <a href="javascript:;" class="dropdown-item"
                                                   @click.prevent="OpentEditDialog(item)"
                                                   type="button" data-bs-toggle="modal" data-bs-target="#EditDialog"
                                                   data-bs-placement="top"
                                                   aria-label="EditDialog"
                                                   data-bs-original-title="Edit"
                                                   aria-describedby="tooltip253746">
                                                    <i class="ti ti-edit me-1"></i>
                                                    تعديل البيانات
                                                </a>
                                                <a href="javascript:;" class="dropdown-item"
                                                    v-if="item.status==1"
                                                   @click.prevent="ChangeStatus(item.id)">
                                                    <i class="ti ti-ban me-1"></i>
                                                    إيقاف الحساب
                                                </a>
                                                <a href="javascript:;" class="dropdown-item"
                                                    v-if="item.status==2"
                                                   @click.prevent="ChangeStatus(item.id)">
                                                    <i class="ti ti-eye me-1"></i>
                                                    تفعيل الحساب
                                                </a>
                                                <a href="javascript:;" class="dropdown-item"
                                                   @click.prevent="ResetPassword(item.id)">
                                                    <i class="ti ti-key me-1"></i>
                                                    تهيئة كلمة المرور
                                                </a>
                                                <div class="dropdown-divider">
                                                </div>
                                                <a href="javascript:;"
                                                   class="dropdown-item text-danger delete-record"
                                                   @click.prevent="Delete(item.id)">
                                                    <i class="ti ti-trash me-1"></i>
                                                    حدف
                                                </a>
                                            </div>
                                        </div>

                                        <!--<a href="javascript:;"
                                           @click.prevent="OpentEditDialog(item)"
                                           type="button" data-bs-toggle="modal" data-bs-target="#EditDialog"
                                           class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill"
                                           data-bs-placement="top" aria-label="Edit"
                                           data-bs-original-title="Edit"
                                           aria-describedby="tooltip253746">
                                            <i class="ti ti-edit text-body ti-md"></i>
                                        </a>-->

                                        <!--<a href="#" data-bs-toggle="tooltip"
                                           @click.prevent="ResetPassword(item.id)"
                                           class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill"
                                           data-bs-placement="top" aria-label="Preview Invoice"
                                           data-bs-original-title="Preview Invoice">
                                            <i class="ti ti-key mx-2 ti-md"></i>
                                        </a>
                                        <a href="#" data-bs-toggle="tooltip"
                                           @click.prevent="ChangeStatus(item.id)"
                                           v-if="item.status==1"
                                           class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill"
                                           data-bs-placement="top" aria-label="Preview Invoice"
                                           data-bs-original-title="Preview Invoice">
                                            <i class="ti ti-ban mx-2 ti-md"></i>
                                        </a>
                                        <a href="#" data-bs-toggle="tooltip"
                                           @click.prevent="ChangeStatus(item.id)"
                                           v-if="item.status==2"
                                           class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill"
                                           data-bs-placement="top" aria-label="Preview Invoice"
                                           data-bs-original-title="Preview Invoice">
                                            <i class="ti ti-eye mx-2 ti-md"></i>
                                        </a>
                                        <a href="javascript:;" data-bs-toggle="tooltip"
                                           @click.prevent="Delete(item.id)"
                                           class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill"
                                           data-bs-placement="top" aria-label="Delete"
                                           data-bs-original-title="Delete"
                                           aria-describedby="tooltip253746">
                                            <i class="ti ti-trash mx-2 ti-md"></i>
                                        </a>-->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row mx-1">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_info" id="DataTables_Table_0_info"
                                 role="status" aria-live="polite">Showing {{pageSize}} of {{pages}} entries</div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <PaginationHelper :pageNo="pageNo"
                                              :pageSize="pageSize"
                                              :totalItems="pages"
                                              @page-changed="GetInfo" />

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--Add-->
    <div class="modal fade"
         id="AddDialog"
         tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center mb-6">
                        <h4 class="mb-2"> {{ScreenTitle}} </h4>
                        <p>إضافة {{ScreenTitleSingle}} جديدة</p>
                    </div>
                    <el-form label-position="top"
                             :model="ruleForm"
                             :rules="rules"
                             ref="ruleForm"
                             label-width="120px"
                             class="demo-ruleForm"
                             style="width: 100%;">
                        <form id="addNewCCForm" class="row g-6" onsubmit="return false">
                            <div class="col-6">
                                <el-form-item prop="Name" :label="`اسم ${ScreenTitleSingleAl}`">
                                    <div class="input-group input-group-merge">
                                        <input type="text" id="modalAddCardName"
                                               class="form-control"
                                               v-model="ruleForm.Name"
                                               :placeholder="`إسم ${ScreenTitleSingleAl}`" />
                                    </div>
                                </el-form-item>
                            </div>
                            <div class="col-6">
                                <el-form-item prop="LoginName" label="إسم الدحول">
                                    <div class="input-group input-group-merge">
                                        <input type="text" id="modalAddCardName"
                                               class="form-control"
                                               v-model="ruleForm.LoginName"
                                               placeholder="إسم الدحول" />
                                    </div>
                                </el-form-item>
                            </div>

                            <div class="col-6">
                                <el-form-item prop="Phone" label="رقم الهاتف ">
                                    <div class="input-group input-group-merge">
                                        <input type="text" id="modalAddCardName"
                                               class="form-control"
                                               v-model="ruleForm.Phone"
                                               placeholder=" رقم الهاتف" />
                                    </div>
                                </el-form-item>
                            </div>

                            <div class="col-6">
                                <el-form-item prop="Email" label="البريد الإلكتروني  ">
                                    <div class="input-group input-group-merge">
                                        <input type="email" id="modalAddCardName"
                                               class="form-control"
                                               v-model="ruleForm.Email"
                                               placeholder=" البريد الإلكتروني " />
                                    </div>
                                </el-form-item>
                            </div>

                            <div class="col-12">
                                <el-form-item prop="Name" label="نوع الحساب ">
                                    <div class="input-group input-group-merge">

                                        <el-select v-model="ruleForm.UserType"
                                                   style="width: 100%;"
                                                   filterable
                                                   placeholder="نوع الحساب "
                                                   clearable>
                                            <el-option v-for="item in [{id:1,name:'Admin'},{id:2,name:' User'},{id:3,name:'Supplier'}]"
                                                       :key="item.id"
                                                       :label="item.name"
                                                       :value="item.id">
                                            </el-option>
                                        </el-select>

                                    </div>
                                </el-form-item>
                            </div>

                            <div class="col-12">
                                <el-form-item :label="`صورة الغلاف  ${ScreenTitleSingleAl}`">
                                    <div class="input-group input-group-merge">
                                        <input class="form-control" v-on:change="SelectImage($event.target.files[0])"
                                               type="file" id="formFile" />
                                    </div>
                                </el-form-item>
                            </div>

                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary me-3"
                                        @click.prevent="submitForm('ruleForm')">
                                    إضافة بيانات {{ScreenTitleSingleAl}}
                                </button>
                                <button type="reset"
                                        id="Close"
                                        class="btn btn-label-secondary btn-reset"
                                        data-bs-dismiss="modal"
                                        aria-label="Close">
                                    إلغاء
                                </button>
                            </div>
                        </form>
                    </el-form>
                </div>
            </div>
        </div>
    </div>


    <!--Edit-->
    <div class="modal fade"
         id="EditDialog"
         tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-simple modal-upgrade-plan">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center mb-6">
                        <h4 class="mb-2"> {{ScreenTitle}} </h4>
                        <p>التعديل في بيانات  {{ScreenTitleSingle}} </p>
                    </div>
                    <el-form label-position="top"
                             :model="ruleForm"
                             :rules="rules"
                             ref="ruleForm"
                             label-width="120px"
                             class="demo-ruleForm"
                             style="width: 100%;">
                        <div id="wizard-create-app" class="bs-stepper vertical mt-2 shadow-none">




                            <div class="bs-stepper-header border-0 p-1">
                                <form id="addNewCCForm" class="row g-6" onsubmit="return false">
                                    <div class="col-6">
                                        <el-form-item prop="Name" :label="`اسم ${ScreenTitleSingleAl}`">
                                            <div class="input-group input-group-merge">
                                                <input type="text" id="modalAddCardName"
                                                       class="form-control"
                                                       v-model="ruleForm.Name"
                                                       :placeholder="`إسم ${ScreenTitleSingleAl}`" />
                                            </div>
                                        </el-form-item>
                                    </div>

                                    <div class="col-6">
                                        <el-form-item prop="LoginName" label="إسم الدحول">
                                            <div class="input-group input-group-merge">
                                                <input type="text" id="modalAddCardName"
                                                       class="form-control"
                                                       v-model="ruleForm.LoginName"
                                                       placeholder="إسم الدحول" />
                                            </div>
                                        </el-form-item>
                                    </div>

                                    <div class="col-6">
                                        <el-form-item prop="Phone" label="رقم الهاتف ">
                                            <div class="input-group input-group-merge">
                                                <input type="text" id="modalAddCardName"
                                                       class="form-control"
                                                       v-model="ruleForm.Phone"
                                                       placeholder=" رقم الهاتف" />
                                            </div>
                                        </el-form-item>
                                    </div>

                                    <div class="col-6">
                                        <el-form-item prop="Email" label="البريد الإلكتروني  ">
                                            <div class="input-group input-group-merge">
                                                <input type="email" id="modalAddCardName"
                                                       class="form-control"
                                                       v-model="ruleForm.Email"
                                                       placeholder=" البريد الإلكتروني " />
                                            </div>
                                        </el-form-item>
                                    </div>

                                    <div class="col-12">
                                        <el-form-item prop="Name" label="نوع الحساب ">
                                            <div class="input-group input-group-merge">

                                                <el-select v-model="ruleForm.UserType"
                                                           style="width: 100%;"
                                                           filterable
                                                           placeholder="نوع الحساب "
                                                           clearable>
                                                    <el-option v-for="item in [{id:1,name:'Admin'},{id:2,name:' User'},{id:3,name:'Supplier'}]"
                                                               :key="item.id"
                                                               :label="item.name"
                                                               :value="item.id">
                                                    </el-option>
                                                </el-select>

                                            </div>
                                        </el-form-item>
                                    </div>

                                    <div class="col-12">
                                        <el-form-item :label="`صورة الغلاف  ${ScreenTitleSingleAl}`">
                                            <div class="input-group input-group-merge">
                                                <input class="form-control" v-on:change="SelectImage($event.target.files[0])"
                                                       type="file" id="formFile" />
                                            </div>
                                        </el-form-item>
                                    </div>
                                </form>
                            </div>




                            <div class="bs-stepper-content p-1" style="text-align: center;">
                                <h5 class="mb-1">صورة الغلاف  </h5>
                                <p class="small">{{ScreenTitleSingleAl}}</p>
                                <!-- image -->
                                <img :src="SelectedItem.image"
                                     class="img-fluid"
                                     alt="Create App img"
                                     width="175" />
                            </div>
                        </div>


                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary me-3"
                                    @click.prevent="submitEditForm('ruleForm')">
                                تعديل بيانات {{ScreenTitleSingleAl}}
                            </button>
                            <button type="reset"
                                    id="Close"
                                    class="btn btn-label-secondary btn-reset"
                                    data-bs-dismiss="modal"
                                    aria-label="Close">
                                إلغاء
                            </button>
                        </div>

                    </el-form>
                </div>
            </div>
        </div>
    </div>






    <div class="container-xxl flex-grow-1 container-p-y" v-if="state==1">
        <!-- Header -->
        <div class="row">
            <div class="col-12">
                <div class="card mb-6">
                    <div class="user-profile-header d-flex flex-column flex-lg-row text-sm-start text-center mb-5">
                        <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto" style="padding-top: 22px;">
                            <img :src="SelectedItem.image" 
                                 style="width: 100px;"
                                 alt="user image"
                                 class="d-block h-auto ms-0 ms-sm-6 rounded user-profile-img" />
                        </div>
                        <div class="flex-grow-1 mt-3 mt-lg-5">
                            <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-5 flex-md-row flex-column gap-4">
                                <div class="user-profile-info">
                                    <h4 class="mb-2 mt-lg-6">{{SelectedItem.name}}</h4>
                                    
                                    <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-4 my-2">
                                        <li class="list-inline-item d-flex gap-2 align-items-center">
                                            <i class="ti ti-crown ti-lg" v-if="SelectedItem.status==1"></i>
                                            <span class="fw-medium" v-if="SelectedItem.status==1">Admin</span>
                                            <i class="ti ti-user ti-lg" v-if="SelectedItem.status==2"></i>
                                            <span class="fw-medium" v-if="SelectedItem.status==2">User</span>
                                            <i class="ti ti-device-desktop ti-lg" v-if="SelectedItem.status==3"></i>
                                            <span class="fw-medium" v-if="SelectedItem.status==3">Supplier</span>
                                        </li>
                                        <li class="list-inline-item d-flex gap-2 align-items-center">
                                            <i class="ti ti-map-pin ti-lg"></i><span class="fw-medium">Libya</span>
                                        </li>
                                        <li class="list-inline-item d-flex gap-2 align-items-center">
                                            <i class="ti ti-calendar ti-lg"></i><span class="fw-medium"> Joined {{moment(SelectedItem.createdOn)}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <a href="javascript:void(0)" @click.prevent="Back()" class="btn btn-secondary mb-1">
                                    العودة لواجهة  المستخدمين
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


        <!-- User Profile Content -->
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-5">
                <!-- About User -->
                <div class="card mb-6">
                    <div class="card-body">
                        <small class="card-text text-uppercase text-muted small">بيانات الحساب </small>
                        <ul class="list-unstyled my-3 py-1">
                            <li class="d-flex align-items-center mb-4">
                                <i class="ti ti-user ti-lg"></i><span class="fw-medium mx-2">إسم المستخدم :</span>
                                <span>{{SelectedItem.name}}</span>
                            </li>
                            <li class="d-flex align-items-center mb-4">
                                <i class="ti ti-crop-portrait ti-lg"></i><span class="fw-medium mx-2">إسم الدخول :</span>
                                <span>{{SelectedItem.loginName}}</span>
                            </li>
                            <li class="d-flex align-items-center mb-4">
                                <i class="ti ti-check ti-lg"></i><span class="fw-medium mx-2">حالة الحساب:</span>
                                <span v-if="SelectedItem.status==1">Active</span>
                                <span v-if="SelectedItem.status==2">Not Active</span>
                            </li>
                            <li class="d-flex align-items-center mb-4">
                                <i class="ti ti-crown ti-lg"></i><span class="fw-medium mx-2">نوع الحساب:</span>
                                <span v-if="SelectedItem.userType==1">Admin</span>
                                <span v-if="SelectedItem.userType==2">User</span>
                                <span v-if="SelectedItem.userType==3">Supplier</span>
                            </li>
                            <li class="d-flex align-items-center mb-4">
                                <i class="ti ti-clock ti-lg"></i><span class="fw-medium mx-2">أخرتسجيل دخول :</span>
                                <span>{{momentTime(SelectedItem.lastLoginOn)}}</span>
                            </li>
                            <li class="d-flex align-items-center mb-4">
                                <i class="ti ti-user-scan ti-lg"></i><span class="fw-medium mx-2">تمت إضافة الحساب من قبل :</span>
                                <span>{{SelectedItem.createdBy}}</span>
                            </li>
                            <li class="d-flex align-items-center mb-4">
                                <i class="ti ti-clock ti-lg"></i><span class="fw-medium mx-2">تاريخ العملية  :</span>
                                <span>{{moment(SelectedItem.createdOn)}}</span>
                            </li>
                        </ul>
                        <small class="card-text text-uppercase text-muted small">بيانات التواصل </small>
                        <ul class="list-unstyled my-3 py-1">
                            <li class="d-flex align-items-center mb-4">
                                <i class="ti ti-phone-call ti-lg"></i><span class="fw-medium mx-2">رقم الهاتف:</span>
                                <span>{{SelectedItem.phone}}</span>
                            </li>
                            <li class="d-flex align-items-center mb-4">
                                <i class="ti ti-mail ti-lg"></i><span class="fw-medium mx-2">البريد الإلكتروني:</span>
                                <span>{{SelectedItem.email}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-7">
                <!-- Activity Timeline -->
                <div class="card card-action mb-6">
                    <div class="card-header align-items-center">
                        <h5 class="card-action-title mb-0">
                            <i class="ti ti-chart-bar ti-lg text-body me-4"></i>حركات المستخدم
                        </h5>
                    </div>
                    <div class="card-body pt-3"  v-if="InfoT!=0">
                        <ul class="timeline mb-0">
                            <li class="timeline-item timeline-item-transparent" v-for="item,index in InfoT"   >
                                <span v-if="item.operations=='Sole'" class="timeline-point timeline-point-success"></span>
                                <span v-if="item.operations=='Add'" class="timeline-point timeline-point-success"></span>
                                <span v-if="item.operations=='Open'" class="timeline-point timeline-point-success"></span>
                                <span v-if="item.operations=='Accept'" class="timeline-point timeline-point-success"></span>
                                <span v-if="item.operations=='Pay'" class="timeline-point timeline-point-success"></span>
                                <span v-if="item.operations=='Edit'" class="timeline-point timeline-point-danger"></span>
                                <span v-if="item.operations=='Froze'" class="timeline-point timeline-point-danger"></span>
                                <span v-if="item.operations=='Drop'" class="timeline-point timeline-point-danger"></span>
                                <span v-if="item.operations=='Block'" class="timeline-point timeline-point-danger"></span>
                                <span v-if="item.operations=='Delete'" class="timeline-point timeline-point-danger"></span>
                                <span v-if="item.operations=='CahngeStatus'" class="timeline-point timeline-point-danger"></span>
                                <span v-if="item.operations=='Reject'" class="timeline-point timeline-point-danger"></span>
                                <span v-if="item.operations=='Close'" class="timeline-point timeline-point-danger"></span>
                                <span v-if="item.operations=='Reset'" class="timeline-point timeline-point-primary"></span>
                                <span v-if="item.operations=='Other'" class="timeline-point timeline-point-secondary"></span>
                                <div class="timeline-event">
                                    <div class="timeline-header mb-3">
                                        <h6 class="mb-0">{{item.operations}} || {{item.controller}}</h6>
                                        <small class="text-muted" dir="ltr">{{momentTime(item.createdOn)}}</small>
                                    </div>
                                    <p class="mb-2">{{item.descriptions}}</p>
                                    <div class="d-flex align-items-center mb-2">
                                        <div class="badge bg-lighter rounded d-flex align-items-center">
                                            <el-tooltip placement="top" effect="light">
                                                <template #content>
                                                    <div>
                                                        <span>
                                                            الحقل قبل العملية : {{item.oldObject}}
                                                        </span>
                                                        <br />
                                                        <span>
                                                            الحقل بعد العملية : {{item.newObject}}
                                                        </span>
                                                    </div>
                                                </template>
                                                <a href="javascript:;"
                                                   class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill"
                                                   type="button">
                                                    <i class="ti ti-info-circle text-body ti-md"></i>
                                                </a>
                                            </el-tooltip>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row mx-1">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_info" id="DataTables_Table_0_info"
                                 role="status" aria-live="polite">Showing {{pageSizeT}} of {{pagesT}} entries</div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <PaginationHelper :pageNo="pageNoT"
                                              :pageSize="pageSizeT"
                                              :totalItems="pagesT"
                                              @page-changed="GetUsersTransactionsInfo" />

                        </div>
                    </div>
                </div>
              
            </div>
        </div>
        <!--/ User Profile Content -->
    </div>





</div>