<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y" v-if="state==0">
        <!-- Invoice List Widget -->



        <div class="card mb-6" v-if="Statistics!=0">
            <div class="card-widget-separator-wrapper">
                <div class="card-body card-widget-separator">
                    <div class="row gy-4 gy-sm-1">
                        <div class="col-sm-6 col-lg-3">
                            <div class="d-flex justify-content-between align-items-center card-widget-1 border-end pb-4 pb-sm-0">
                                <div>
                                    <h4 class="mb-0">{{Statistics.count}}</h4>
                                    <p class="mb-0">مدرب</p>
                                </div>
                                <div class="avatar me-sm-6">
                                    <span class="avatar-initial rounded bg-label-secondary text-heading">
                                        <i class="ti ti-chart-pie ti-26px"></i>
                                    </span>
                                </div>
                            </div>
                            <hr class="d-none d-sm-block d-lg-none me-6" />
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="d-flex justify-content-between align-items-center card-widget-2 border-end pb-4 pb-sm-0">
                                <div>
                                    <h4 class="mb-0">{{Statistics.active}}</h4>
                                    <p class="mb-0">Active</p>
                                </div>
                                <div class="avatar me-lg-6">
                                    <span class="avatar-initial rounded bg-label-secondary text-heading">
                                        <i class="ti ti-radioactive ti-26px"></i>
                                    </span>
                                </div>
                            </div>
                            <hr class="d-none d-sm-block d-lg-none" />
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="d-flex justify-content-between align-items-center border-end pb-4 pb-sm-0 card-widget-3">
                                <div>
                                    <h4 class="mb-0">{{Statistics.notActive}}</h4>
                                    <p class="mb-0">NotActive</p>
                                </div>
                                <div class="avatar me-sm-6">
                                    <span class="avatar-initial rounded bg-label-secondary text-heading">
                                        <i class="ti ti-radioactive-off ti-26px"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h4 class="mb-0">{{Statistics.zeroCourse}}</h4>
                                    <p class="mb-0">مدرب بدون دورة  </p>
                                </div>
                                <div class="avatar">
                                    <span class="avatar-initial rounded bg-label-secondary text-heading">
                                        <i class="ti ti-trash ti-26px"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Invoice List Table -->
        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper"
                     class="dataTables_wrapper dt-bootstrap5 no-footer">


                    <div class="card-header border-bottom">
                        <h5 class="card-title mb-0">{{ScreenTitle}}</h5>
                        <div class="d-flex justify-content-between align-items-center row pt-4 gap-4 gap-md-0">
                            <div class="col-md-4 user_role"></div>
                            <div class="col-md-4 user_plan"></div>
                            <div class="col-md-4 user_status"></div>
                        </div>
                    </div>

                    <div class="card-header py-0 d-flex flex-column flex-md-row align-items-center">
                        <div>
                            <div id="DataTables_Table_0_filter"
                                 class="dataTables_filter ms-n3 mb-0 mb-md-6">
                                <label>
                                    <input type="search" class="form-control"
                                           @input="GetInfo()"
                                           v-model="Search"
                                           placeholder="فلترة البيانات "
                                           aria-controls="DataTables_Table_0">
                                </label>

                                <!--<div class="dropdown">
                                    <a href="javascript:;"
                                       class="btn dropdown-toggle hide-arrow btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill p-0"
                                       data-bs-toggle="dropdown">
                                        <i class="ti ti-dots-vertical ti-md"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="#" class="dropdown-item">حالة العرض</a>
                                        <a href="#" class="dropdown-item">تاريخ الاضافة </a>
                                        <a href="#" class="dropdown-item">مجاني</a>
                                    </div>
                                </div>
                                <div class="invoice_status mb-6 mb-md-0">
                                    <select id="UserRole" class="form-select">
                                        <option value=""> Invoice Status </option>
                                        <option value="Downloaded" class="text-capitalize">Downloaded</option>
                                        <option value="Draft" class="text-capitalize">Draft</option>
                                        <option value="Paid" class="text-capitalize">Paid</option>
                                        <option value="Partial Payment" class="text-capitalize">Partial Payment</option>
                                        <option value="Past Due" class="text-capitalize">Past Due</option>
                                        <option value="Sent" class="text-capitalize">Sent</option>
                                    </select>
                                </div>-->
                            </div>

                        </div>
                        <div class="d-flex align-items-center justify-content-md-end gap-2 justify-content-center">

                            <!--<div class="dt-action-buttons pt-0">
                                <div class="dt-buttons btn-group flex-wrap">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                @click.prevent="ClearForm(ruleForm)"
                                                data-bs-target="#AddDialog">
                                            <i class="ti ti-plus ti-xs me-md-2"></i>
                                            <span class="d-md-inline-block d-none">إضافة {{ScreenTitleSingle}} </span>
                                        </button>
                                    </div>
                                </div>
                            </div>-->

                            <div class="dataTables_length ms-n2" id="DataTables_Table_0_length">
                                <label>
                                    <select name="DataTables_Table_0_length"
                                            aria-controls="DataTables_Table_0"
                                            @change="GetInfo()"
                                            v-model="pageSize"
                                            class="form-select">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="400">400</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>



                    <table class="invoice-list-table table border-top dataTable no-footer dtr-column"
                           id="DataTables_Table_0"
                           aria-describedby="DataTables_Table_0_info"
                           style="width: 1232px;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>إسم</th>
                                <th>ع/الدورات </th>
                                <th> النسبة</th>
                                <th> سبب الإيقاف </th>
                                <th>تاريخ اللإيقاف</th>
                                <th>منفذ العملية</th>
                                <th class="cell-fit">الإعدادات</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr class="odd" v-if="Info==0">
                                <td valign="top" colspan="8" class="dataTables_empty">لا توجد بيانات في الوقت الحالي ......</td>
                            </tr>

                            <tr class="odd" v-for="item,index in Info" v-if="Info!=0">
                                <td>{{index+1}}</td>
                                <td>
                                    <div class="d-flex justify-content-start align-items-center">
                                        <div class="avatar-wrapper">
                                            <div class="avatar avatar-sm me-3">
                                                <img :src="item.image" alt="Avatar" class="rounded-circle" v-if="item.image">
                                                <img :src="CoverPath" alt="Avatar" class="rounded-circle" v-if="!item.image">
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <a href="#" class="text-heading text-truncate">
                                                <span class="fw-medium">{{item.name}}</span>
                                                <br />
                                                <span class="fw-medium">{{item.phone}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>{{item.courseCount}} </td>
                                <td>{{item.percentage}} </td>
                                <td>{{item.susbendInfo.resone}} </td>
                                <td>{{moment(item.susbendInfo.createdOn)}}</td>
                                <td>{{item.susbendCreatedBy}} </td>
                                <td>
                                    <div class="d-flex align-items-center">

                                        <a href="javascript:;" class="dropdown-item"
                                           @click.prevent="CanselSuspendsInfo(item.id)">
                                            <i class="ti ti-creative-commons-sa me-1"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row mx-1">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_info" id="DataTables_Table_0_info"
                                 role="status" aria-live="polite">Showing {{pageSize}} of {{pages}} entries</div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <PaginationHelper :pageNo="pageNo"
                                              :pageSize="pageSize"
                                              :totalItems="pages"
                                              @page-changed="GetInfo" />

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  


    <div class="content-backdrop fade"></div>
</div>